.magicalBody .hidden {
    display: none;
}
.magicalBody form .form-group{
    position: relative;
}
.magicalBody form .input-group-lg input.form-control,
.magicalBody form .input-group-lg select.form-control,
.magicalBody form .input-group-lg textarea.form-control{
    padding: 18px 12px 1px 4px;
    font-size: 24px;
}
.magicalBody form .input-group-lg input.disabled,
.magicalBody form .input-group-lg textarea.disabled  {
    background-color: #FFFFFF;
}
.magicalBody form .input-group-lg label {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    transition: 0.2s;
    font-size: 24px;
    padding: 4px;
    color: #ACACAC;
}
.magicalBody form .input-group-lg.col-6 label {
    left: 16px;
}
.magicalBody form .input-group-lg input:focus + label,
.magicalBody form .input-group-lg input:valid + label,
.magicalBody form .input-group-lg select + label,
.magicalBody form .input-group-lg textarea + label,
.magicalBody form .input-group-lg input.disabled + label{
    top: -16px;
    height: 12px;
    font-size: 12px;
    margin-bottom: 0;
}

.magicalBody form .form-check-label {
    font-size: 24px;
}

.magicalBody form .form-check .checkbox-label {
    color: #ACACAC;
    font-size: 12px;
}
.magicalBody form .input-group-lg label.multiselect-label {
    top: -16px;
    height: 12px;
    font-size: 12px;
    margin-bottom: 0;
}
.magicalBody .buttonStyle:hover,
.magicalBody button:hover,
.magicalBody .material-icons:hover{
    cursor: pointer;
}
.magicalBody .close-icon{
    position: absolute;
    right: 24px;
    top: 24px;
    background: lightgrey;
    height: 36px;
    border-radius: 5px;
}
.magicalBody .align-to-center {
    text-align: center;
}
.magicalBody .align-to-right {
    text-align: right;
}
.magicalBody .rounded-border{
    border-radius: 4.8px;
    border: 1px solid rgba(0,0,0,0.15);
}
.magicalBody .info-block {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4.8px;
    display: flex;
    padding: 8px;
    margin-bottom: 12px;
}
.magicalBody .info-block .public-profile {
    text-align: center;
}
.magicalBody button.btn {
    height: 38px;
}
.magicalBody .btn span{
    position: relative;
    top: -12px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px;
}
.magicalBody .card-img {
    width: 100%;
}
.magicalBody .application-title {
    font-size: 12px;
    color: #ACACAC;
}
.magicalBody .application-image-block img{
    width: 64px;
    height: 64px;
}
.magicalBody .application-image-block,
.magicalBody .application-image-block div{
    text-align: center;
}

.magicalBody .friend-username {
    font-size: 24px;
}
.magicalBody.notifications .checkbox-label{
    font-size: 12px;
    color: #ACACAC;
}
.magicalBody.notifications .nav-tabs{
    background-color: #CACACA;
    border-bottom: none;
}
.magicalBody.notifications .nav-tabs .nav-link {
    border: none;
    color: black;
    padding: 0 40px;
    margin: 10px 20px;
}
.magicalBody.notifications .nav-tabs .nav-link.active {
    border: none;
    background: none;
    border-bottom: 2px solid #464a4c;
}
.magicalBody.notifications .form-check-label {
    font-size: 18px;
}
.magicalBody.notifications .notification-save {
    padding: 15px;
}
.magicalBody.notifications .notification-save button{
    position: absolute;
    bottom: 0;
}
.magicalBody .icon-wrapper {
    font-size: 24px;
    line-height: 0.5;
}
.magicalBody .icon-wrapper span{
    position: absolute;
    top: 15px;
}
@media (min-width: 1200px) {
    .magicalBody.itemDetails .textArea {
        height: 486px;
    }
    .magicalBody.itemEdit .textArea {
        height: 196px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .magicalBody.itemView .textArea {
        height: 262px;
    }
    .magicalBody.itemDetails .textArea {
        height: 396px;
    }
    .magicalBody.itemEdit .textArea {
        height: 106px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .magicalBody.itemDetails .textArea {
        height: 276px;
    }
    .magicalBody.itemView .textArea {
        height: 142px;
    }
    .magicalBody.itemEdit .textArea {
        height: 86px;
    }
}